body {
  background-color: #111111;
  color: #fff;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.navigation {
  display: flex;
  justify-content: center;
}

.form {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
input {
  padding: 5px 15px;
  width: 200px;
  border-radius: 5px;

  font-size: 15px;
  border: none;
  outline: none;
}
